body {
	margin: 0 auto;
	
	width:800px;

	}

div{
	margin-top:50px;
	margin-bottom:50px;
	text-align:justify;
	}
	
h1{
	text-align:center;
	padding:9px;	
    background: #617798;  
    border: 0;  
    font-size: 20px;  
    color: #FFFFFF;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;
	margin-right:5px;

	}


